*{
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.form-main{
    margin: 50px auto;
    width: 550px;
    border: 1px solid #525252;
    
    background-color: #525252;
    border-radius:15%;
}
.input-container{
    display: flex;
    margin: 10px auto;
    width: 500px;
}
.labelName{
    width: 150px;
}
.hobby-selection{
    display: flex;
    flex-direction: column;
    
}
.hobby{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}
p{
    margin: 0;
    padding: 0;
}
.buttons{
    margin: 15px;
}
input, textarea{
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
}
input[type=text],input[type=email],input[type=password]{
    width: 350px;
    height: 25px;
    border-radius: 5px;
}

textarea{
    width: 350px;
    height: 50px;
    border-radius: 5px;
}
input:focus, textarea:focus{
    outline: none;
}
.input-container-gender{
    height: 25px;
    display: flex;
    margin: 10px auto;
    width: 500px;
}
.form-heading h1{
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
    color: #ffffff;
}
.form-heading{
    
    
    padding: 10px 0 5px 0 ;
    /* border-radius: 15px 15px 0px 0; */
    margin-bottom: 15px;
}
.buttons{
    margin: 20px auto 20px auto;
    display: flex;
    width: 200px;
}
button{
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    margin: 0 10px;   
}
button:hover{
    color:  #000000;
    background-color: #ffffff;
    border: none;
    
}
.listview{
    display: flex;
}
.list{
    display: none;
}
.table{
    margin: auto;
}
.table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    color: #000000;
  }
  
  
  table tr{background-color: #bebebe}
  .table tr:hover {background-color: #aaaaaa;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #525252;
    color: #ffffff;
  }

#resetdiv{
    display: inline;
}

.hidden{
    display: none;
}
.errorbox{
    color: red;
    font-size: small;
    
}
.inputerrorbox{
    display: flex;
    flex-direction: column;
}


